[Desktop Entry]
Version=1.0
Name=DOGWALK
Icon=/usr/share/icons/hicolor/192x192/apps/dogwalk.png
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
Exec=/opt/dogwalk-linux/run.sh
